/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.select-none {
  user-select: none;
}

.cursor-grab {
  cursor: grab;
}

.cursor-grabbing {
  cursor: grabbing;
}

.bg-warning {
  background-color: #ffcccc; /* Светло-красный цвет для предупреждения */
  color: #ff0000; /* Красный цвет для восклицательного знака */
}
